.barnav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    background-color: black;
    color: white;
    margin-right: 20%;
  }
  
 